html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

li {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.search-form {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.outline {
  outline: 1px solid red;
}
.gallery {
  margin: -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-card {
  margin: 5px;

  /* width: 292.5px;  */
  width: calc((100% - 40px) / 4);
}

.image {
  display: block;
  height: 200px;
  width: 280px;
  object-fit: fill;
}
.image:hover {
  transform: scale(1.04);
  cursor: zoom-in;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stats-item {
  display: flex;
  align-items: center;

  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  /* background-color: blue; */
  /* color: white; */

  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button:hover,
.button:focus {
  box-shadow: none;
}
.is-hidden {
  display: none;
}

/* создаем модалку */

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
  opacity: 0;
  pointer-events: none;
  /* transition: opacity var(--animation-duration) var(--timing-function); */
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* .lightbox.is-open .lightbox__content {
  transform: scale(1);
} */

.carousel-image {
  height: 600px;
}
